<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/template2.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <title><%= title %></title>
</head>

<body>
    <% if( type && type=="preview" ) {%>
        <%- include('../../partials/clickme.ejs') %>
        <% } else {%>
        <%- include('../../partials/copyToClipboard.ejs') %>
        <% } %> 

                <section class="hero">
                    <div class="mainpic">
                        <img draggable="false"  class="hrt1" src="../../../images/Vector25.png" alt="" srcset="">
                        <img draggable="false"  class="hrt2" src="../../../images/Vector23.png" alt="" srcset="">
                        <img draggable="false"  class="hrt3" src="../../../images/Vector24.png" alt="" srcset="">
                        <img draggable="false"  class="hrt4" src="../../../images/Vector25.png" alt="" srcset="">
                        <img draggable="false"  src="<%= image[0] %>" class="imgtemp" alt="">
                    </div>
                </section>
                <section>
                    <div class="top4">
                        <span class="fly"><img draggable="false"  src="../../../images/Rectangle 142.png" alt=""></span>
                        <div class="child1">
                            <div class="child1-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[1] %>" alt="">
                            </div>
                            <div class="child1-img2"><img draggable="false"  class="imgtemp" src="<%= image[2] %>" alt=""></div>
                        </div>
                        <div class="child2">
                            <div class="child2-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[3] %>" alt="">
                            </div>
                        </div>
                        <div class="child3">
                            <div class="child3-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[4] %>" alt="">
                            </div>
                        </div>
                        <div class="child44">
                            <div class="child44-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[5] %>" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bottom4">
                        <div class="child4">
                            <div class="child4-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[6] %>" alt="">
                            </div>
                            <div class="child4-img2"><img draggable="false"  class="imgtemp" src="<%= image[7] %>" alt=""></div>
                        </div>
                        <div class="child5">
                            <div class="child5-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[8] %>" alt="">
                            </div>
                        </div>
                        <div class="child6">
                            <div class="child6-img1">
                                <img draggable="false"  class="imgtemp" src="<%= image[9] %>" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <script src="../../../javascript/category.js"></script>
</body>

</html>